.bg {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
    font-family: Roboto;
    src: url('../fonts/Roboto/RobotoSlab-VariableFont_wght.ttf');
    font-family: Abel;
    src: url('../fonts/Abel/Abel-Regular.ttf');
}

nav {
    position: absolute;
    height: auto;
    z-index: 2;
}

.nav-item a {
    margin-right: 5px;
}

.navbar-nav li a {
    font-size: 15px;
    color: white !important;
    transition: .5s ease-in-out;
    font-family: 'josefin sans', sans-serif;
}

.navbar-nav li a:hover {
    color: yellow !important;
}

.collapse {
    position: relative;
    float: right;
}

.box {
    position: relative;
    padding-bottom: 8px;
    cursor: pointer;
}

.box::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 0%;
    height: 3px;
    background-color: rgb(255, 255, 255);
    transition: width 0.4s ease-out;
}

.box-nav-item-active {
    color: yellow !important;
    border-bottom: 3px solid rgb(255, 255, 255);
    height: 92%;
}

.box:hover.box::after {
    width: 100%;
}

.logo {
    height: auto;
    width: auto;
    position: absolute;
}

.name {
    width: auto;
    height: 40px;
    text-align: center;
    margin-top: 5px;
    color: white;
    position: relative;
    margin-left: 2rem;
}

.name h1 {
    font-family: Abel;
    font-size: 20px;
    margin-left: 2rem;
}

.name p {
    font-family: Roboto;
    font-size: 15px;
    position: relative;
    margin-top: -10px;
}

#card {
    margin-top: 5rem;
}

.headerlogo {
    height: 150px;
    width: 150px;
}

.card-header {
    width: 100%;
    height: 12rem;
}

.header {
    width: auto;
    height: 40px;
    text-align: center;
    margin-top: -7rem;
    margin-left: 10rem;
}

.header h1 {
    font-family: Bernard MT Condensed;
    font-size: 23px;
}

.header p {
    font-family: Roboto;
    font-size: 14px;
    margin-top: -8px;
}

.regheader {
    width: auto;
    height: 50px;
    text-align: center;
    margin-top: -7rem;
    margin-left: 10rem;
}

.regheader h1 {
    font-family: Bernard MT Condensed;
    font-size: 28px;
}

.regheader p {
    font-family: Roboto;
    font-size: 15px;
    margin-top: -8px;
}

#aboutbg {
    background-size: cover;
    position: fixed;
    width: 100%;
    height: 100%;
}

#aboutlogo {
    margin-top: 15rem;
    position: initial;
}

#VM {
    margin-left: 2rem;
    margin-top: 10rem;
}

.vm-header {
    font-size: 45px;
    font-family: Abel;
    font-weight: bold;
    color: green;
}

.vm-p {
    font-size: 17px;
    color: black;
}

#regcard {
    margin-top: 5rem;
    width: auto;
}

.regbtn {
    width: 10rem;
    height: auto;
}

.has-error input,
.has-error select {
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(241, 51, 51) !important;
    /* padding: 3px 0px 3px 3px; */
    border: 1px solid rgba(241, 51, 51) !important;
}

.errspan {
    font-size: 0.8em;
    color: rgb(255, 113, 113);
}

.errspanicon {
    color: rgb(255, 113, 113);
}

.form-group {
    position: relative;
}

.form-group .fa-exclamation-circle {
    position: absolute;
    float: right;
    top: 43px;
    right: 10px;
}

.reg-form .fa-exclamation-circle {
    position: absolute;
    float: right;
    top: 13px;
    right: 22px;
}

.ok-close-btn {
    background-color: deepskyblue;
    color: #fff;
    padding: 2% 4% 2% 4%;
}

.ok-close-btn:hover {
    background-color: rgb(41, 201, 255);
    color: #fff;
}

.removehr {
    border-bottom: 0 none;
}

.tooltip-actbtn {
    display: inline-block;
    position: relative;
    margin: 1px;
}

.tooltiptxt {
    color: #11101d;
}

.tooltip-actbtn .top {
    font-weight: 300;
    min-width: 80px;
    height: 80%;
    top: -10px;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size: 0.9em;
    color: #000 !important;
    background: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 999;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.8s;
}

.tooltip-actbtn:hover .top {
    visibility: visible;
    opacity: 1;
}

.card-table {
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.hidden {
    display: none;
    visibility: hidden;
}